.sidebare{ 
    padding: 30px 6%;
    color: white;
    background-color: rgb(48, 48, 74);
    text-decoration: white;
}
.content{
    flex: 1;
    padding: 2%;

    background-color: white;
}
body{
    border-radius: 50;
    padding: 40px;
    background-color: white;
    display: flex;
}